log/*.log
log/*.log.*
log/*.pid
tmp/**/*
tmp/restart.txt
public/log.html
doc/api
doc/app
coverage
config/database.yml
config/application.yml
public/stylesheets/application.css
.bundle
.rvmrc
.DS_Store
.idea
.project
nbproject
public/bundles/*.css
public/bundles/*.js
public/bundles/*.gz
