#single_container
  #single_header
    %h2 Sobre

  #single_content
    %p 
      O que seria a PiTTlândia, você se pergunta? Pois é. Muitas pessoas
      perguntam isso. Isso e outras questões também: Por quê esses patos? Quem
      é esse tal PiTT? Qual andorinha voa mais rápido, a africana ou a
      européia? Etc, etc, etc…
    %p 
      Porém, como diria o profeta, "Longa Vida ao leite de caixinha, para que
      ele assista de pé à minha vitória!". Em outras palavras, algumas
      perguntas podem ser respondidas, outras não, e outras nem foram
      perguntadas.
    %p
      Enfim… vamos aos poucos.
    %p 
      PiTT é uma das alcunhas de Rodrigo Tassinari de Oliveira, brasileiro,
      carioca, botafoguense, solteiro e residente na cidade do Rio de Janeiro.
      Ele tem 26 anos, está terminando sua graduação em Ciências Econômicas
      pela UFRJ (se algum dia entregar sua monografia), porém trabalha mais
      com informática do que com economia, na 
      == #{link_to 'RioPro', 'http://www.riopro.com.br'}.
    %p 
      A PiTTlândia é o seu site / blog / flog / lifestream / (inserir expressão
      da moda aqui). Para os entediados e/ou curiosos do planeta, é um
      repositório de pequenos fragmentos de textos, imagens e sons que compõe o
      imenso mosaico que é sua incrível mente e sua hipnótica personalidade.
      Esqueci de mencionar que o PiTT é muito modesto. Até para falar de si
      mesmo na terceira pessoa.
    %p 
      Bom, bem-vindo à PiTTlândia, fique à vontade. Leia os posts, comente,
      veja as fotos… só por favor não bagunce muito e apague a luz ao sair.
    %p
      Há Braços,
      %br
      PiTT
