%ul#activity_list
  - @posts.each_with_index do |post, index|
    = render :partial => 'post', :locals => {:post => post, :service => @service, :last => is_last_in_row?(index)}

.clear

%p#pagination
  Página:
  = will_paginate @posts, :previous_label => '«', :next_label => '»', :container => false
